#PatientTestdateYear{
	margin-right: 47px !important;
}
.datetime{
	font-size: 21px !important;
}
#PatientResultdateYear{
	margin-right: 47px !important;
}
label{
	width: 200px !important;
}
.add_ptest,.delete_ptest{
	cursor: pointer;
}
.saved_ptest{
	padding-top: 5px;
}
.params_div .form-control{
	margin: 5px !important;
	width: 700px !important;
}
.param-controls button{
	width: 735px !important;
	height: 50px;
	background: #dbabab;
}
